<div class="container">	
	<div class="sixteen columns">
<h1>Setup Status</h1>

<hr />
</div>
<div class="eight columns">
<h2>Twitter</h2>
<% if !@twitter_linked %>
<h3>Not Yet Linked</h3>
<div><a href="<%= @twitter_login %>" class="button">Give Crosshatch Access to Twitter</a></div>
<% else%>
<h3>Linked Successfully</h3>
<% end%>
</div>
<div class="eight columns">
<h2>Facebook</h2>
<% if !@facebook_linked %>
	<h3>Not Yet Linked</h3>
	<div><a href="<%= @fb_login %>" class="button">Give Crosshatch Access to Facebook</a></div>
	<% else%>
	<h3>Linked Succesfully</h3>
	<% end%>
	</div>
	<hr />
	<div class="sixteen columns">
		<% if @facebook_linked and @twitter_linked%>
		<p>You're all set. New posts in Twitter should be posted to Facebook within 30 seconds.</p>
		<% else%>
		<p>Crosshatch won't be able to post your Tweets to Facebook until you give it access to both.</p>
		<% end%>
		
	</div>	
</div>