<h1>Status</h1>
<hr />
<h2>Twitter</h2>
<% if !@twitter_linked %>
<h3>Twitter Not Yet Linked</h3>
<div><a href="<%= @twitter_login %>" class="button">Give Crosshatch Access to Twitter</a></div>
<% else%>
<h3>Twitter Linked Successfully</h3>
<% end%>
<h2>Facebook</h2>
<% if !@facebook_linked %>
	<h3>Facebook Not Yet Linked</h3>
	<div><a href="<%= @fb_login %>" class="button">Give Crosshatch Access to Facebook</a></div>
	<% else%>
	<h3>Facebook Linked Succesfully</h3>
	<% end%>